DATABASE_URL=postgres://user:password@host:5432/insighta?sslmode=require
JWT_SECRET=change-this-to-a-long-random-string-in-production
GITHUB_CLIENT_ID=your_github_oauth_app_client_id
GITHUB_CLIENT_SECRET=your_github_oauth_app_client_secret
BACKEND_URL=https://insighta-backend.fly.dev
WEB_PORTAL_URL=https://insighta.vercel.app
ENV=production
PORT=8080
